<div class="header-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

   <div class="site-name">Online Shop</div>
  
   <div class="header-bar">
      <th:block sec:authorize="isAuthenticated()">
         Hello
         <a th:href="@{/profile}" th:utext="${#request.userPrincipal.Username}">..</a>
      
        <form th:action="@{/logout}" method="post">
<input type="submit" class="btn primary"  value="Logout" />

		</form>
      </th:block>
      
      <th:block sec:authorize="!isAuthenticated()">
         <a th:href="@{/login}">Login</a>
      </th:block>
   </div>
  
</div>
 