<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Admin</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	</head>
	<body>
		
						 <nav class="navbar navbar-expand-lg navbar-light bg-light">
							<a class="navbar-brand " href=""><span th:text="${#authentication.getPrincipal().getUsername()}"></span></a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="@{/user/map}" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							  <span class="navbar-toggler-icon"></span>
							</button>
							<div class="navbar-collapse navbar-expand-lg" id="navbarNav">
							  <ul class="navbar-nav">
								<li class="nav-item active">
								  <a class="nav-link" th:href="@{/user}">Home <span class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item ">
								  <a class="nav-link" th:href="@{/profile}">Profile</a>
								</li>
								<li class="nav-item">
								  <a class="nav-link" th:href="@{/user/map}">Map</a>
								</li>
								
								<li class="nav-item">
									<form th:action="@{/logout}" method="post">
										
										<input type="submit" class="nav-link"  value="Logout" />

									</form>
								</li>
							  </ul>
							</div>
						  </nav>

						 

		
		
	</body>
</html>