<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymleaf.org">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  
      <title>Books Shop Online</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
      
      <div class="page-title">Shopping Cart Demo</div>
      <div class="demo-container">
         <h3>Demo content</h3>
         <ul>
            <li>Buy online</li>
            <li>Admin pages</li>
            <li>Reports</li>
         </ul>
      </div>
      
      <th:block th:include="/_footer"></th:block>
      
   </body>
</html>